<div class="sns_content">

<i class="fab fa-twitter"></i><%= link_to 'Twitter' %></p>
<i class="fab fa-instagram"></i><%= link_to 'Instagram' %></p>
<i class="fa-brands fa-youtube"></i><%= link_to 'Youtube' %></p>
<i class="fa-brands fa-github"></i><%= link_to 'Github' %></p>

</div>

<div class="about_left">
<%= link_to "BACK", home_top_path %>
</div>